/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	h1, h2 {
		font-family: 'Arvo', "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

    a {
        color: #2854BB;
    }

    .header {
        background-color: #B5180D;
        background-image: linear-gradient(bottom, #E41F11 25%, #B5180D 79%);
        background-image: -o-linear-gradient(bottom, #E41F11 25%, #B5180D 79%);
        background-image: -moz-linear-gradient(bottom, #E41F11 25%, #B5180D 79%);
        background-image: -webkit-linear-gradient(bottom, #E41F11 25%, #B5180D 79%);
        background-image: -ms-linear-gradient(bottom, #E41F11 25%, #B5180D 79%);
        background-image: -webkit-gradient(
            linear, left bottom, left top, color-stop(0.25, #E41F11), color-stop(0.79, #B5180D)
        );

        height: 4em;
        padding-top: 1em;
        margin-bottom: 2em;

        border-bottom: 1px solid #888;
        -moz-box-shadow: 0 2px 5px #888;
        -webkit-box-shadow: 0 2px 5px #888;
        box-shadow: 0 2px 5px #888;

        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .header h1, .header h1 a {
        color: #eee;
        text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
                     rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
                     rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;
		text-decoration: none;
    }

    .header .account-area a {
        color: #fff;
        text-decoration: none;
        text-align: right;
    }

    .header .account-area a:hover {
        text-decoration: underline;
    }

    .header .account-area-links {
        float: right;
    }

	.header .loggedUser {
		font-weight: bold;
	}

    .main {
        background-color: #fff;
    }

    .statuses {
        background-color: #ffffcc;
    }

    .new-tweet {
        margin-bottom: 1.5em;
    }

    .new-tweet-area textarea {
        width: 100%;
        line-height: 1.5em;
        height: 2em;
        padding-top: 0.5em;
    }

    .new-tweet-area .textarea-enlarged {
        height: 6em;
        margin-bottom: 1em;
    }

    .new-tweet-area em {
        font-style: normal;
    }

    .new-tweet-area .new-tweet-submit-panel {
        color: #888;
        text-align: right;
    }

	.new-tweet-area .new-tweet-error {
		float: left;
	}

    .timeline-header {
        margin-bottom: 0.4em;
    }
    
    .userlist-header {
    	padding-bottom: 0.4em;	
    	margin-bottom: 1.2em;
    }
    
    .timeline-header div, .userlist-header {
        border-bottom: 2px solid #333;
    }


    .timeline-header h2, .userlist-header div {
        display: inline;
    }

    .timeline-header a, .userlist-header a {
        font-size: 0.9em;
        /*color: #888;*/
        float: right;
        text-decoration: none;
        padding-top: 0.6em;
    }

    .timeline-header a:hover, .userlist-header a:hover {
        text-decoration: underline;
    }
    
    .userlist-header .query, .username {
    	color: #666;
    	font-style: italic;
    }

	.timeline, .userlist {
		margin-bottom: 2em;
	}

    .tweets, .user {
        min-height: 60px;
        color: #333;
        padding: 0.4em;
        border-bottom: solid 1px #999;
    }

    .tweets a, .user a {
        text-decoration: none;
    }

    .tweets .tweet-text a:hover, .user .user-result-body a:hover {
        text-decoration: underline;
    }

	.name {
		color: #333;
        font-weight: bold;
	}

    .tweets .name, .user .name {
        margin-left: 12px;
    }
    .tweets .name:hover, .user .name:hover{
        text-decoration: underline;
        color: #2854BB;
    }

    .nickname {
        color: #999;
    }

    .tweets .timestamp {
        float: right;
        color: #999;
        font-size: 0.8em;
    }

    .tweets .tweet-body, .user .user-result-body {
        padding-left: 60px;
    }

    .tweets .tweet-text {
        width: 95%;
    }

    .tweets .tweet-info {
        color: #666;
    }
    
    .more {
    	background-color: #efefef;
    	-webkit-border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

	.more a {
		display: block;
		width: 100%;
		heigth: 100%;
		padding: 1em 0;
		text-align: center;
		text-decoration: none;
	}
	
	.more a:hover {
		text-decoration: underline;
	}
	
	.return-notice {
		background-color: #EEEEEE;
		padding: 1em 0 1em 1em;
		margin-bottom: 1em;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px
	}

	.return-notice a {
		text-decoration: none;
	}
	
	.return-notice a:hover {
		text-decoration: underline
	}

    .secundary-features {

    }
    
    .secundary-features h2 {
    	margin-bottom: 0.4em;
    }

    .secundary-features div {
        margin-bottom: 2em;
    }

    .secundary-features ul {
        list-style: none;
        margin-left: 1em;
    }

	.secundary-features .search-users input {
		margin-left: 1em;
	}
	
	.secundary-features .search-users input[type="search"] {
		width: 80%;
	}

    .secundary-features .copyright {
        border-top: 1px solid #999;
        color: #888;
        font-size: 0.5em;
        padding-top: 1em;
        margin-top: 4em;
    }

    .secundary-features li {
        margin-bottom: 0.4em;
    }
    
    .profile {
    	position: relative;
    	margin-top: 1em;
    	margin-bottom: 3.6em;
    }
    
    .profile h1, .profile .profile-header, .profile .profile-body {
    	margin-left: 60px;
    }
    
    .profile img {
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    
    .profile .profile-info, .user .user-info {
    	display: inline-block;
    }
    
    .profile .profile-header {
    	margin-bottom: 0.8em;
    }
    
    .profile .profile-following, .user .user-following {
    	float: right;
    	text-align: center;
    }
    
    .profile .profile-following-block, .user .user-following-block, .profile .profile-self {
    	padding: 0.4em 1.2em;
    	-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    
    .profile .profile-self {
    	font-weight: bold;
    	background-color: #eee;
    	color: #333;
    	border: 1px solid #ccc;
    }
    
    .follow {
		background-color: #8DC262;
		color: #fff;
		border: 1px solid #368512;
    }
    
    .follow a {
    	color: #fff;
    	text-decoration: none;
    }
    
    .unfollow {
    	background-color: #eee;
    	color: #333;
    	border: 1px solid #ccc;
    }
    
    .unfollow a {
    	color: #333;
    	text-decoration: none;
    }
    
	.follow a:hover, .unfollow a:hover {
    	text-decoration: underline;
    }
    
    .login-container, .signup-container {
    	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
    	width: 45%;
    	margin-bottom: 6em;
    }
    
    .signup-container {
    	width: 65%;
    }
    
    .login, .signup {
    	text-align: left;
    	padding: 1em;
    	-webkit-box-shadow: 0px 6px 10px 0px #ccc;
		-moz-box-shadow: 0px 6px 10px 0px #ccc;
		box-shadow: 0px 6px 10px 0px #ccc;
    }
    
    .login .login-header, .signup .signup-header {
    	margin-bottom: 2.5em;
    }
    
    .login form, .signup form {
    	font-size: 1.2em;
    	margin-right: 6em;
    }
    
    .login .login-username, .signup .signup-username {
    	margin-bottom: 1.8em;
    }
       
    .signup .signup-name {
    	margin-bottom: 1.8em;
    }
    
    .login .login-password {
    	margin-bottom: 1.8em;
    }
    
    .signup .signup-password {
    	margin-bottom: 0.4em;
    }
    
    .signup .signup-confirm-password {
    	margin-bottom: 1.8em;
    }
    
    .login label, .signup label {
    	display: block;
    	width: 12em;
    }
    
    .login input, .signup input {
    	float: left;
    	height: 1.4em;
    	width: 100%;
    }
    
    .signup input, .signup textarea {
    	width: 60%;
    }
    
    .signup textarea {
    	height: 6em;
    }
    
    .login input[type="submit"], .signup input[type="submit"] {
    	height: 2.4em;
    	width: 8em;
    	float: right;
    }
    
    .signup .signup-submit {
    	margin-top: 1em;
    }
    
    .signup input[type="submit"] {
    	margin-right: 39%;
    }
    
    .login .error, .signup .error {
    	float: left;
    	font-size: 0.9em;
    }
    
    .signup .error {
    	margin-left: 1em;
    }
    
    .banner {
    	font-size: 1.2em;
    	padding: 2em 0 4em 2em;
    	margin-bottom: 3.6em;
    	-webkit-box-shadow: 0px 6px 6px 0px #ccc;
		-moz-box-shadow: 0px 6px 6px 0px #ccc;
		box-shadow: 0px 6px 6px 0px #ccc;
    }
    
    .banner h2 {
    	display: inline;
    }
    
    .banner .slogan {
    	font-size: 1.1em;
    	margin-right: 4em;
    }
    
    .banner .action-links {
    	margin-top: 0.6em;
    	font-style: italic;
    }
    
    .banner a {
    	text-decoration: none;
    }
    
    .banner a:hover {
    	text-decoration: underline;
    }
    
    input[type="submit"] {
    	cursor: pointer;
    }
    
    .error {
        color: #B5180D;
    }

    .input-error {
        border-color: #B5180D;
        background-color: #FBCAC6;
    }

    .hidden {
        display: none;
    }
	
	.optional {
		color: #999;
		font-size: 0.8em;
	}
	
	.clear:before,
	.clear:after {
		content:"";
		display:table;
	}
	.clear:after {
		clear:both;
	}
	/* For IE 6/7 (trigger hasLayout) */
	.clear {
		zoom:1;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	.header h1 {
		height: 1em;
	}
	
	.header .account-area-links {
		float: none;
		position: absolute;
		top: 1em;
		right: 2em;
	}
	
	.profile img {
		padding-left: 20px;
	}
	
	.login-container, .signup-container {
		width: 100%;
	}
	
	.login form, .signup form {
		margin-left: 3em;
		margin-right: 3em;
	}
	
	.signup input, .signup textarea {
		width: 100%;
	}
	
	.signup .error {
		margin-left: 0;
	}

}
